<div [class.active]="isActive" class="music_card">
  <div class="col1" (click)="musicClick(AlbumMusics)">
    <div>
      <p>{{ index }}</p>
    </div>
    <div>
      <div class="song_img">
        <img *ngIf="!isLoader" [src]="albumImg_child" alt="" />
        <div *ngIf="isLoader" class="img-loader-cont">
          <ngx-skeleton-loader count="1" appearance="line" />
        </div>
      </div>
      <p *ngIf="!isLoader">{{ AlbumMusics.name }}</p>
      <div *ngIf="isLoader" class="name-loader-cont">
        <ngx-skeleton-loader count="1" appearance="line" />
      </div>
    </div>
  </div>
  <div class="col1">
    <div>
      <i class="fa-solid fa-user-group"></i>
      <p *ngIf="!isLoader">{{ AlbumMusics.duration_ms | number }}</p>
      <div *ngIf="isLoader" class="listens-loader-cont">
        <ngx-skeleton-loader count="1" appearance="line" />
      </div>
    </div>
    <div>
      <p>
        <i
          class="fa-solid fa-circle-plus"
          (click)="addInPlaylist(AlbumMusics.id)"
        ></i>
      </p>
    </div>
  </div>

  <div *ngIf="isAddinPlaylistClicked" class="playlist_popup">
    <app-add-playlist
      [musicId]="addPlaylistMusicId"
      (isPopupCancelled)="PopupCancelled()"
    ></app-add-playlist>
  </div>
</div>
