<div class="music_card">
  <div class="col1">
    <div>
      <p>{{ index }}</p>
    </div>
    <div>
      <div class="song_img">
        <img [src]="albumImg_child" alt="" />
      </div>
      <p>{{ AlbumMusics.name }}</p>
    </div>
  </div>
  <div class="col1">
    <div>
      <i class="fa-solid fa-user-group"></i>
      <p>{{ AlbumMusics.duration_ms | number }}</p>
    </div>
    <div>
      <p>
        <i
          class="fa-solid fa-circle-plus"
          (click)="addInPlaylist(AlbumMusics.id)"
        ></i>
      </p>
    </div>
  </div>

  <div *ngIf="isAddinPlaylistClicked" class="playlist_popup">
    <app-add-playlist
      [musicId]="addPlaylistMusicId"
      (isPopupCancelled)="PopupCancelled()"
    ></app-add-playlist>
  </div>
</div>
