<div class="delete_card">
  <div class="col">
    <i class="fa-regular fa-trash-can"></i>
    <p>
      Delete playlist <strong>{{ playlistname }}</strong>
    </p>
  </div>
  <div class="col">
    <p>Are you sure you want to delete this content?</p>
  </div>
  <div class="col">
    <button (click)="cancelDeleting()"><p>Cancel</p></button>
    <button (click)="DeletePlaylist()">
      <p *ngIf="!isLoader">Delete</p>
      <div class="spinner" *ngIf="isLoader">
        <app-spinner></app-spinner>
      </div>
    </button>
  </div>
</div>
