<div class="addPlaylist_popup">
  <div class="top_col">
    <input
      (input)="checkInput(input.value)"
      type="text"
      placeholder="Add playlist"
      #input
    />
    <i
      class="fa-solid fa-circle-plus"
      (click)="addNewPlaylictClick(input.value)"
      [ngClass]="!isInputEmpty ? 'active' : null"
    ></i>
  </div>
  <div class="middle_col">
    <div
      *ngFor="let playlist of playlists; let i = index"
      class="playlist_card"
    >
      <div class="playlist_card_left">
        <div>
          <i class="fa-solid {{ playlist.playlistIcon }}"></i>
        </div>
        <h3>{{ playlist.playlistName }}</h3>
      </div>
      <div class="playlist_card_right">
        <mat-checkbox
          #value
          [checked]="alreadyInPlaylist.includes(playlist.playlistName)"
          (click)="selectedPlaylists(value, playlist.playlistName)"
        >
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="bottom_col">
    <button (click)="playlistPopUpCancelClick()"><p>Cancel</p></button>
    <button [disabled]="!isCheckBoxClicked" (click)="playlistPopUpDoneClick()">
      <p *ngIf="!isLoader">Done</p>
      <div class="spinner" *ngIf="isLoader">
        <app-spinner></app-spinner>
      </div>
    </button>
  </div>
</div>
