<div class="infoPopUp_content">
  <div class="info_box">
    <div class="info_left_col">
      <div class="img_box"><img [src]="userInfo.img" alt="" /></div>
      <div class="img_edit_btn">
        <label for="imgId">
          <i class="fa-solid fa-pen-fancy"></i>
          <input
            (change)="useImgChange($event)"
            style="display: none"
            type="file"
            id="imgId"
          />
        </label>
      </div>
    </div>
    <div class="info_right_col">
      <form [formGroup]="userForm">
        <div class="input_col">
          <div>
            <label>Name</label>
            <input
              formControlName="name"
              *ngIf="isEditClicked"
              type="text"
              placeholder="{{ userInfo.name }}"
            />
            <h3 *ngIf="!isEditClicked">{{ userInfo.name }}</h3>
          </div>
          <div
            *ngIf="
              userForm.get('name')?.invalid &&
              (userForm.get('name')?.dirty || userForm.get('name')?.touched)
            "
            class="input_error"
          >
            <mat-error>
              <span *ngIf="userForm.get('name')?.hasError('required')"
                >Name is required</span
              >
              <span *ngIf="userForm.get('name')?.hasError('minlength')"
                >Name must be minimum 4 character</span
              >
              <span *ngIf="userForm.get('name')?.hasError('maxlength')"
                >Name must be maximum 15 character</span
              >
              <span *ngIf="userForm.get('name')?.hasError('pattern')"
                >Name form is incorrect</span
              >
            </mat-error>
          </div>
        </div>
        <div class="input_col">
          <div class="pass_input">
            <label>Password</label>
            <div class="password_box">
              <div class="pass_col1">
                <input
                  formControlName="password"
                  *ngIf="isEditClicked || showPass"
                  type="text"
                  placeholder="{{ userInfo.password }}"
                />
                <h3 *ngIf="!isEditClicked && !showPass">********</h3>
              </div>
              <div class="pass_col2">
                <i
                  *ngIf="!showPass"
                  (click)="showPassword('show')"
                  class="fa-solid fa-eye"
                ></i>
                <i
                  *ngIf="showPass"
                  (click)="showPassword('hide')"
                  class="fa-solid fa-eye-slash"
                ></i>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              userForm.get('password')?.invalid &&
              (userForm.get('password')?.dirty ||
                userForm.get('password')?.touched)
            "
            class="input_error"
          >
            <mat-error>
              <span *ngIf="userForm.get('password')?.hasError('required')"
                >Password is required</span
              >
              <span *ngIf="userForm.get('password')?.hasError('minlength')"
                >Password must be minimum 6 character</span
              >
              <span *ngIf="userForm.get('password')?.hasError('pattern')"
                >Password form is incorrect</span
              >
            </mat-error>
          </div>
        </div>
        <div class="submit_edit_info_btn">
          <div class="buttons_box">
            <div *ngIf="!isEditClicked" class="btns_firstRow">
              <button (click)="editClick($event)"><p>Edit</p></button>
              <button (click)="exitClick($event)"><p>Exit</p></button>
            </div>
            <div *ngIf="isEditClicked" class="btns_secondRow">
              <button
                [disabled]="!userForm.valid"
                class="save_btn"
                (click)="saveClick($event)"
              >
                <p>Save</p>
              </button>
              <button (click)="cancelClick($event)"><p>Cancel</p></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
