.sign_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_content form {
  padding: 2rem 4rem;
  border-radius: var(--regular_cards_radius);
  background-color: var(--card_bg_color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 600px;
  max-width: 550px;
}
.sign_content form .header h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  color: var(--main_font_light_color);
}
.sign_content form .header h3 span {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: var(--main_font_light_color);
}
.sign_content form .header p {
  text-align: center;
  color: var(--main_font_light_color);
  font-size: 0.875rem;
  margin-top: 0.25rem;
  border-bottom: 1px solid var(--button_bg_color);
}
.sign_content form .input_box {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 80%;
}
.sign_content form .input_box .input_col {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.sign_content form .input_box .input_col label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 19px;
  color: var(--main_font_light_color);
}
.sign_content form .input_box .input_col input {
  outline: none;
  border: 0;
  padding: 0.875rem 0.5rem;
  background-color: var(--darker_bg_color);
  border-radius: var(--regular_cards_radius);
  color: var(--main_font_light_color);
  font-size: 0.875rem;
}
.sign_content form .google_sign,
.click_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_content form .google_sign button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.45rem 1rem;
  background-color: rgba(240, 248, 255, 0);
  border: 2px solid var(--button_bg_color);
  border-radius: var(--regular_cards_radius);
  height: auto;
}
.sign_content form .google_sign button img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 1;
}
.sign_content form .google_sign button:hover {
  border: 2px solid rgba(0, 0, 0, 0);
}
.sign_content form .google_sign button p {
  width: 100%;
}
.sign_content form .click_btn button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_content form .click_btn button p {
  font-size: 22px;
  z-index: 10;
  width: 100%;
}
.sign_content form .have_account {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--main_font_light_color);
  opacity: 0.8;
  margin-top: 0.25rem;
}
.sign_content form .have_account a {
  text-decoration: underline;
  font-style: italic;
  font-weight: 200;
}
.input_col mat-error {
  display: flex;
  flex-direction: column;

  color: rgba(230, 36, 36, 0.99);
  font-size: 0.75rem;
}

/*=================================*/
/*=================================*/
/*============RESPONSIVE===========*/
/*=================================*/
/*=================================*/

@media (max-width: 768px) {
  .sign_content {
    padding: 0 1rem;
  }
  .sign_content form {
    padding: 2rem 2rem;
  }
  .sign_content form .input_box {
    width: 100%;
  }
  .sign_content form .header h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .sign_content form .header h3 span {
    font-size: 24px;
    line-height: 36px;
  }
  .sign_content form .header p {
    font-size: 0.75rem;
  }
  .sign_content form .click_btn button p {
    font-size: 18px;
  }
  .sign_content form .click_btn button {
    width: 100%;
    height: 45px;
  }
}
