<div
  class="albumTracks_content"
  [style.background-image]="'url(' + album.img + ')'"
>
  <div class="albumTracks_top_row">
    <div class="top_row_left_col">
      <img [src]="album.img" alt="" />
    </div>
    <div class="top_row_right_col">
      <h3>Album</h3>
      <h1>{{ album.name }}</h1>
    </div>
  </div>
  <div class="albumTracks_bottom_row">
    <div class="table_header">
      <div class="col1">
        <div>
          <p><i class="fa-solid fa-arrow-up-wide-short"></i></p>
        </div>
        <div>
          <p>Song name</p>
        </div>
      </div>
      <div class="col1">
        <div><p>Listens</p></div>
        <div>
          <p>Add to playlist</p>
        </div>
      </div>
    </div>
    <div class="table_content">
      <div *ngIf="isDataRecieved">
        <app-music-card
          *ngFor="let music of albumMusics; let i = index"
          [AlbumMusics]="music"
          [albumImg_child]="albumImg"
          [index]="i + 1"
        ></app-music-card>
      </div>
    </div>
  </div>
</div>
