<div class="albumTracks_content">
  <div class="albumTracks_top_row">
    <div class="top_row_left_col">
      <img src="assets/artist_img.png" alt="" />
    </div>
    <div class="top_row_right_col">
      <h1>The Lost Soul Down</h1>
    </div>
  </div>
  <div class="albumTracks_bottom_row">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Song name</th>
          <th>Listens</th>
          <th>Add in playlist</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span>1</span>
            <img src="assets/artist_img.png" alt="" />
            <h2>Downpour</h2>
          </td>
          <td>137,234,233</td>
          <td>
            <i class="fa-solid fa-circle-plus"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
