<div class="main_content">
  <div class="main_img_content">
    <swiper-container
      autoplay-delay="5000"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide *ngFor="let slide of sliders">
        <div class="main_title">
          <span>this is</span>
          <h1>NBSPLV</h1>
          <h2>{{ slide.quote }}</h2>
        </div>
        <img [src]="slide.img" alt="" />
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="main_albums_content">
    <div class="albums_search_content">
      <input
        type="search"
        placeholder="search albums"
        (input)="onSearchInput($event)"
      />
      <h3>Popular Albums by NBSPLV</h3>
    </div>
    <div class="notFoundAlbums_box" *ngIf="!isSearchedAlbums">
      <div>
        <h2>No albums were found</h2>
        <p>Please change the field</p>
      </div>
    </div>
    <div class="album-loader-cont">
      <ngx-skeleton-loader *ngIf="isLoading" count="30" appearance="line" />
    </div>
    <div *ngIf="!isLoading" class="albums_list">
      <div
        (click)="albumClick(album)"
        *ngFor="let album of filteredAlbums"
        class="card"
      >
        <div class="album_img">
          <img [src]="album.img" alt="" />
        </div>
        <div class="album_description">
          <div class="col1">
            <h2>{{ album.name }}</h2>
            <h3>
              Total tracks: <span>{{ album.total_tracks }}</span>
            </h3>
            <h4>
              released: <span>{{ album.release_date }}</span>
            </h4>
          </div>
          <div class="col2">
            <i class="fa-solid fa-circle-play"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
