<div class="main_content">
  <div class="main_img_content">
    <img src="assets/main_cover_img.jpg" alt="" />
    <h1>NBSPLV</h1>
  </div>
  <div class="main_albums_content">
    <div class="albums_search_content">
      <input type="search" placeholder="search albums" />
      <h3>Popular Albums by NBSPLV</h3>
    </div>

    <div class="albums_list">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</div>
