.main_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--regular_cards_distance);
}
.main_img_content {
  position: relative;
  width: 100%;
  height: 700px;
  max-height: 700px;
  overflow: hidden;
  border-radius: var(--regular_cards_radius);
}
.main_img_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.main_img_content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 76px;
  line-height: 92px;
  color: var(--main_font_light_color);
}
.main_albums_content {
  padding: 0.875rem 1rem;
  background-color: var(--card_bg_color);
  width: 100%;
  border-radius: var(--regular_cards_radius);
  display: flex;
  flex-direction: column;
  /* gap: var(--regular_cards_distance); */
  gap: 2rem;
}
.albums_search_content {
  display: flex;
  justify-content: space-between;
}
.albums_search_content h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: var(--main_font_light_color);
}
.albums_search_content input {
  background: var(--button_bg_color);
  border-radius: 0.5rem;
  border: 0;
  padding: 0.025rem 1rem;
  color: var(--main_font_light_color);
}
.albums_search_content input::placeholder {
  color: rgba(245, 245, 245, 0.772);
}
.albums_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.albums_list .card {
  width: 410px;
  height: 160px;
  background-color: var(--darker_bg_color);
}
