<div class="container">
  <nav>
    <div
      [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
      class="top_content"
      routerLink=""
    >
      <div
        [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
        class="site_logo"
      >
        <img src="assets/siteLogo.png" alt="" />
      </div>
      <h1 [ngClass]="isSidebarfoldedForLogo ? 'active' : null">NBSPLV</h1>
    </div>
    <div class="bottom_content">
      <ul class="links" [ngClass]="isSidebarfoldedForLogo ? 'active' : null">
        <li>
          <div class="link_icons">
            <i class="fa-solid fa-address-book"></i>
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null" href="#"
            >About</a
          >
        </li>
        <li>
          <div class="link_icons">
            <i class="fa-solid fa-play"></i>
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null" href="#"
            >All song</a
          >
        </li>
        <li>
          <div class="link_icons">
            <i class="fa-solid fa-list"></i>
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null" href="#"
            >Lists</a
          >
        </li>
      </ul>
      <div class="navbar_bottom_col2">
        <div [ngClass]="isSidebarfolded ? 'active' : null" class="user_link">
          <div class="link_icons">
            <img src="assets/userLogo.jpg" alt="" />
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null" href="#"
            >zzz077dadadadad</a
          >
        </div>
        <div class="language_selector">
          <ul *ngIf="isLanguageSelectorClicked">
            <li (click)="languageSelectedClick('eng')">
              <span class="flag"><img src="assets/langEng.png" alt="" /></span>
              <p *ngIf="isSidebarfolded && !isSidebarfoldedForLang">Eng</p>
              <p *ngIf="isSidebarfoldedForLang">English</p>
            </li>
            <li (click)="languageSelectedClick('geo')">
              <span class="flag"><img src="assets/langGeo.png" alt="" /></span>
              <p *ngIf="isSidebarfolded && !isSidebarfoldedForLang">Geo</p>
              <p *ngIf="isSidebarfoldedForLang">Georgian</p>
            </li>
          </ul>
          <div (click)="langSelectorClick()" class="Display_lang">
            <li>
              <span class="flag"
                ><img src="assets/{{ DefaultLangSelectorFlag }}" alt=""
              /></span>
              <p *ngIf="isSidebarfolded && !isSidebarfoldedForLang">
                {{ DefaultLangSelectorName }}
              </p>
              <p *ngIf="isSidebarfoldedForLang">
                {{ DefaultLangSelectorFullName }}
              </p>
            </li>
          </div>
        </div>
        <button [ngClass]="isSidebarfolded ? 'active' : null">
          <p>signIn</p>
        </button>
      </div>
    </div>
  </nav>
  <div class="resize-handle--x" data-target="nav"></div>
  <main><router-outlet></router-outlet></main>
</div>
