<div class="container">
  <nav>
    <div
      [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
      class="top_content"
      routerLink=""
    >
      <div
        [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
        class="site_logo"
      >
        <img src="assets/siteLogo.png" alt="" />
      </div>
      <h1 [ngClass]="isSidebarfoldedForLogo ? 'active' : null">NBSPLV</h1>
    </div>
    <div class="bottom_content">
      <ul class="links" [ngClass]="isSidebarfoldedForLogo ? 'active' : null">
        <li routerLink="aboutArtist">
          <div class="link_icons">
            <i class="fa-solid fa-address-book"></i>
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
            >About artist</a
          >
        </li>
        <li>
          <div class="link_icons">
            <i class="fa-solid fa-play"></i>
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null" href="#"
            >All songs</a
          >
        </li>
        <li>
          <div class="link_icons">
            <i class="fa-solid fa-list"></i>
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null" href="#"
            >Lists</a
          >
        </li>
      </ul>
      <div class="navbar_bottom_col2">
        <div
          *ngIf="isUserLogged"
          (click)="userClick()"
          [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
          class="user_link"
        >
          <div class="link_icons">
            <img [src]="UserData.img" alt="" />
          </div>
          <a [ngClass]="isSidebarfoldedForLogo ? 'active' : null" href="#"
            >{{ UserData.name }}
          </a>
        </div>
        <div
          [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
          class="language_selector"
        >
          <ul *ngIf="isLanguageSelectorClicked">
            <li (click)="languageSelectedClick('Eng')">
              <p *ngIf="!isSidebarfoldedForLogo">Eng</p>
              <p *ngIf="isSidebarfoldedForLogo">English</p>
            </li>
            <li (click)="languageSelectedClick('Geo')">
              <p *ngIf="!isSidebarfoldedForLogo">Geo</p>
              <p *ngIf="isSidebarfoldedForLogo">Georgian</p>
            </li>
          </ul>
          <div
            [ngClass]="isSidebarfoldedForLogo ? 'active' : null"
            (click)="langSelectorClick()"
            class="Display_lang"
          >
            <li>
              <p *ngIf="!isSidebarfoldedForLogo">
                {{ DefaultLangSelectorName }}
              </p>
              <p *ngIf="isSidebarfoldedForLogo">
                {{ DefaultLangSelectorFullName }}
              </p>
            </li>
          </div>
        </div>
        <button
          *ngIf="!isUserLogged"
          routerLink="/signup"
          [ngClass]="isSidebarfolded ? 'active' : null"
        >
          <p>signUp</p>
        </button>
        <button
          *ngIf="!isUserLogged"
          routerLink="/login"
          [ngClass]="isSidebarfolded ? 'active' : null"
        >
          <p>signIn</p>
        </button>
        <button
          (click)="logOutClick()"
          *ngIf="isUserLogged"
          [ngClass]="isSidebarfolded ? 'active' : null"
        >
          <p>LogOut</p>
        </button>
      </div>
    </div>
  </nav>
  <div class="resize-handle--x" data-target="nav"></div>
  <main>
    <router-outlet> </router-outlet>
  </main>
</div>
<div *ngIf="isUserInfoclicked">
  <app-userinfo (closeInfopopUp)="closePopup($event)"></app-userinfo>
</div>
