<div class="sign_content">
  <form>
    <h3>Log in to <span>NBSPLV</span></h3>
    <div class="input_box">
      <div class="input_col">
        <label>Email</label>
        <input type="email" />
        <div class="input_error"></div>
      </div>
      <div class="input_col">
        <label>Password</label>
        <input type="password" />
        <div class="input_error"></div>
      </div>
      <div class="input_col google_sign">
        <button>
          <img src="assets/google_icon.png" />
          <p>Continue with Google</p>
        </button>
      </div>
      <div class="input_col click_btn">
        <button><p>Log in</p></button>
        <p class="have_account">
          Do't have an account? <a routerLink="/signup">Sign up here</a>
        </p>
      </div>
    </div>
  </form>
</div>
