<div class="sign_content">
  <form [formGroup]="userForm">
    <div class="header">
      <h3>Log in to <span>NBSPLV</span></h3>
      <p *ngIf="isLoginError">Incorrect email or password</p>
    </div>
    <div class="input_box">
      <div class="input_col">
        <label>Email</label>
        <input
          formControlName="email"
          type="email"
          placeholder="zzz@gmail.com"
          autocomplete="new-email"
        />
        <div
          *ngIf="
            userForm.get('email')?.invalid &&
            (userForm.get('email')?.dirty || userForm.get('email')?.touched)
          "
          class="input_error"
        >
          <mat-error>
            <span *ngIf="userForm.get('email')?.hasError('required')"
              >Email is required</span
            >
            <span *ngIf="userForm.get('email')?.hasError('pattern')"
              >Email form is incorrect</span
            >
          </mat-error>
        </div>
      </div>
      <div class="input_col">
        <label>Password</label>
        <input
          formControlName="password"
          type="password"
          autocomplete="new-password"
        />
        <div
          *ngIf="
            userForm.get('password')?.invalid &&
            (userForm.get('password')?.dirty ||
              userForm.get('password')?.touched)
          "
          class="input_error"
        >
          <mat-error>
            <span *ngIf="userForm.get('password')?.hasError('required')"
              >Password is required</span
            >
            <span *ngIf="userForm.get('password')?.hasError('minlength')"
              >Password must be minimum 6 character</span
            >
            <span *ngIf="userForm.get('password')?.hasError('pattern')"
              >Password form is incorrect</span
            >
          </mat-error>
        </div>
      </div>
      <div class="input_col google_sign">
        <button (click)="signinWithGoogle()">
          <img src="assets/google_icon.png" />
          <p>Continue with Google</p>
        </button>
      </div>
      <div class="input_col click_btn">
        <button (click)="submitSignIn()" [disabled]="!userForm.valid">
          <div class="spinner" *ngIf="isLoader">
            <app-spinner></app-spinner>
          </div>
          <p *ngIf="!isLoader">Log in</p>
        </button>
        <p class="have_account">
          Do't have an account? <a href="/signup">Sign up here</a>
        </p>
      </div>
    </div>
  </form>
</div>
