/*====================================*/
/*====================================*/
/*============ABOUT CONTENT===========*/
/*====================================*/
/*====================================*/
.about_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--regular_cards_distance);
  height: 100%;
  align-items: center;
  padding-top: 6rem;
  overflow: auto;
  background: url("https://i.scdn.co/image/ab6761610000e5ebd8556811e8509d9acbf42140");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 2rem;
}
.about_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.681); /* Adjust opacity here */
  z-index: 1;
}

.about_top_row {
  display: flex;
  align-items: center;
  gap: 6rem;
  z-index: 10;
  width: 100%;
  border-radius: 1rem;
  backdrop-filter: blur(50px);
}

.top_row_col1 {
  width: 320px;
  max-width: 320px;
  max-height: 320px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 1px 1px 18px black;
}
.top_row_col1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  filter: brightness(1.8);
}
.top_row_col2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100%;
  user-select: none;
}
.top_row_col2 h1 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--about_font_lightGreen_color);
  line-height: 100px;
}
.top_row_col2 h4 {
  font-size: 20px;
  margin-top: 0.5rem;
  font-family: var(--main_font_family);
  color: var(--about_font_lightGreen_color);
}
.top_row_col2 h4 span {
  color: var(--main_font_light_color);
}
.about_bottom_row {
  padding: 2rem 1rem;
  background-color: #092a35c8;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  margin-top: 4rem;
  z-index: 10;
}

.about_bottom_row ul {
  z-index: 10;
  max-width: 1480px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about_bottom_row ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about_bottom_row ul li h3 {
  font-size: 1.5rem;
  color: var(--about_font_lightGreen_color);
}
.about_bottom_row ul li p {
  font-size: 1.1rem;
  color: rgba(245, 245, 245, 0.819);
  line-height: 24px;
}
.about_bottom_row ul li p span {
  color: rgb(138, 138, 142);
  font-size: 1rem;
}
.about_bottom_row ul li a {
  font-size: 1rem;
  color: rgb(138, 138, 142);
  font-style: italic;
  text-decoration: underline;
}
