/*====================================*/
/*====================================*/
/*============ABOUT CONTENT===========*/
/*====================================*/
/*====================================*/

:host >>> .about-loader-cont {
  width: 100%;
}

:host
  >>> .about-img-loader-cont
  ngx-skeleton-loader
  .skeleton-loader:nth-child(1) {
  width: 320px;
  max-width: 320px;
  height: 320px;
  border-radius: 50rem;
  filter: opacity(0.5);
}
:host
  >>> .about-title1-loader-cont
  ngx-skeleton-loader
  .skeleton-loader:nth-child(1) {
  width: 428px;
  height: 100px;
  filter: opacity(0.5);
}
:host
  >>> .about-title2-loader-cont
  ngx-skeleton-loader
  .skeleton-loader:nth-child(1) {
  width: 120px;
  height: 23px;
  filter: opacity(0.5);
}
:host
  >>> .about-title3-loader-cont
  ngx-skeleton-loader
  .skeleton-loader:nth-child(1) {
  width: 350px;
  height: 23px;
  filter: opacity(0.5);
}

.about_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--regular_cards_distance);
  height: 100%;
  align-items: center;
  overflow: auto;
  background: url("https://i.scdn.co/image/ab6761610000e5ebd8556811e8509d9acbf42140");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 2rem;
}
.about_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.681); /* Adjust opacity here */
  z-index: 1;
}

.about_top_row {
  display: flex;
  align-items: center;
  gap: 6rem;
  z-index: 10;
  width: 100%;
  border-radius: 1rem;
  backdrop-filter: blur(50px);
}

.top_row_col1 {
  width: 320px;
  max-height: 320px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 1px 1px 18px black;
}
.top_row_col1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  filter: brightness(1.8);
}
.top_row_col2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100%;
  user-select: none;
}
.top_row_col2 h1 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--about_font_lightGreen_color);
  line-height: 100px;
}
.top_row_col2 h4 {
  font-size: 20px;
  margin-top: 0.5rem;
  font-family: var(--main_font_family);
  color: var(--about_font_lightGreen_color);
}
.top_row_col2 h4 span {
  color: var(--main_font_light_color);
}
.about_bottom_row {
  padding: 2rem 1rem;
  background-color: #092a35c8;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  margin-top: 4rem;
  z-index: 10;
}

.about_bottom_row ul {
  z-index: 10;
  max-width: 1480px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about_bottom_row ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about_bottom_row ul li h3 {
  font-size: 1.5rem;
  color: var(--about_font_lightGreen_color);
}
.about_bottom_row ul li p {
  font-size: 1.1rem;
  color: rgba(245, 245, 245, 0.819);
  line-height: 24px;
}
.about_bottom_row ul li p span {
  color: rgb(138, 138, 142);
  font-size: 1rem;
}
.about_bottom_row ul li a {
  font-size: 1rem;
  color: rgb(138, 138, 142);
  font-style: italic;
  text-decoration: underline;
}

/*=================================*/
/*=================================*/
/*============RESPONSIVE===========*/
/*=================================*/
/*=================================*/

@media (max-width: 1024px) {
  .about_top_row {
    gap: 4rem;
  }
  .top_row_col2 h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .top_row_col2 h4 {
    font-size: 1.5rem;
  }

  .about_bottom_row ul li h3 {
    font-size: 1.5rem;
  }
  .about_bottom_row ul li p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about_bottom_row ul li p span {
    font-size: 1rem;
  }
  .about_bottom_row ul li a {
    font-size: 1rem;
  }
  :host
    >>> .about-title1-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 328px;
    height: 64px;
  }
  :host
    >>> .about-title2-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 120px;
    height: 23px;
  }
  :host
    >>> .about-title3-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 300px;
    height: 23px;
  }
}
@media (max-width: 768px) {
  .about_content {
    padding: 0 1rem;
  }
  .top_row_col2 h1 {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .top_row_col2 h4 {
    font-size: 1rem;
  }
  :host
    >>> .about-title1-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 220px;
    max-width: 220px;
    height: 44px;
  }
  :host
    >>> .about-title2-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 100px;
    max-width: 100px;
    height: 23px;
  }
  :host
    >>> .about-title3-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 250px;
    max-width: 250px;
    height: 23px;
  }
}
@media (max-width: 500px) {
  .about_bottom_row {
    height: auto;
  }
  .about_top_row {
    gap: 2rem;
  }
  .about_bottom_row {
    margin-top: 2rem;
  }
  .top_row_col2 h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .top_row_col2 h4 {
    font-size: 0.875rem;
  }
  .about_bottom_row ul li h3 {
    font-size: 1.25rem;
  }
  .about_bottom_row ul li p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .about_bottom_row ul li p span {
    font-size: 0.875rem;
  }
  .about_bottom_row ul li a {
    font-size: 0.875rem;
  }
  :host
    >>> .about-img-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 200px;
    max-width: 200px;
    height: 200px;
  }
  :host
    >>> .about-title1-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 150px;
    height: 32px;
  }
  :host
    >>> .about-title2-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 80px;
    height: 23px;
  }
  :host
    >>> .about-title3-loader-cont
    ngx-skeleton-loader
    .skeleton-loader:nth-child(1) {
    width: 150px;
    height: 23px;
  }
}
