/*====================================*/
/*====================================*/
/*============ABOUT CONTENT===========*/
/*====================================*/
/*====================================*/
.about_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--regular_cards_distance);
  height: 100%;
  align-items: center;
  padding-top: 6rem;
  overflow: auto;
}
.about_top_row {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 6rem;
}
.top_row_col1 {
  width: 320px;
  max-width: 320px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}
.top_row_col1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.top_row_col2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100%;
}
.top_row_col2 h1 {
  font-size: 6rem;
  font-weight: 900;
}
.top_row_col2 h4 {
  font-size: 20px;
  margin-top: 1rem;
  font-family: var(--main_font_family);
}
.top_row_col2 h4 span {
  color: var(--darker_bg_color);
}
.about_bottom_row {
  padding: 2rem 1rem;
  background-color: var(--card_bg_color);
  width: 95%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  margin-top: 4rem;
}
.about_bottom_row ul {
  max-width: 1480px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 2rem;
}
.about_bottom_row ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about_bottom_row ul li h3 {
  font-size: 1.5rem;
}
.about_bottom_row ul li p {
  font-size: 1.1rem;
  color: var(--darker_bg_color);
  line-height: 24px;
}
.about_bottom_row ul li p span {
  color: rgb(138, 138, 142);
  font-size: 1rem;
}
.about_bottom_row ul li a {
  font-size: 1rem;
  color: rgb(138, 138, 142);
  font-style: italic;
  text-decoration: underline;
}
