<div class="about_content">
  <div *ngIf="isLoading" class="about-loader-cont">
    <ngx-skeleton-loader count="2" appearance="line" />
  </div>
  <div *ngIf="!isLoading" class="about_top_row">
    <div class="top_row_col1">
      <img [src]="artist.img" alt="" />
    </div>
    <div class="top_row_col2">
      <h1>NBSPLV</h1>
      <h4>music artist</h4>
      <h4>
        <span>{{ followersValue }}</span
        >, total Spotify followers
      </h4>
    </div>
  </div>
  <div class="about_bottom_row">
    <ul>
      <li>
        <h3>who is NBSPLV?</h3>
        <p>
          Music artist and composer from Rostov on Don, Russian Federation. Born
          on November 5, 1988, Nikolay Bespalov (known by the stage name
          <span>NBSPLV</span>) has made a name for himself in the music
          industry. His work spans various genres, and he is also a sound
          producer. While his music may not be as widely recognized as some
          mainstream artists, his compositions have garnered a following,
          with 172,901 followers. If you’re interested in exploring his music,
          you can find some of his popular songs
          <a routerLink="">on our platform</a>.
        </p>
      </li>
      <li>
        <h3>Why was this site created?</h3>
        <p>
          Certainly! The purpose of the website you described is to
          provide <span>NBSPLV</span> listeners and fans with exclusive access
          to music and albums by this artist. Additionally, the site allows
          users to register for free and create their own personalized
          playlists. By offering this service, the website aims to enhance the
          music experience for fans and facilitate easy access to
          <span>NBSPLV</span>’s content. 🎶🔊 If you’re interested in exploring
          <span>NBSPLV</span>’s music, his musics have a monthly listenership of
          over 6.8 million. Enjoy the tunes! 
        </p>
      </li>
    </ul>
  </div>
</div>
