<div class="lists_content">
  <div class="lists_box">
    <div class="lists_top_row">
      <div class="lists_top_left_col">
        <img src="assets/artist_img.png" alt="" />
      </div>
      <div class="lists_top_right_col">
        <h1>Saved playlists</h1>
      </div>
    </div>
    <div class="lists_bottom_row">
      <div class="lists_bottom_left_col">
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19 </span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
        <div class="list_box">
          <div class="list_img">img1</div>
          <div class="list_info">
            <h4>Liked Songs</h4>
            <h5><span>19</span>songs</h5>
          </div>
        </div>
      </div>
      <div class="lists_bottom_right_col">
        <div class="lists_bottom_right_box">
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
        </div>
      </div>
    </div>
  </div>
</div>
