<div class="lists_content">
  <div class="lists_box">
    <div class="lists_top_row">
      <div class="lists_top_left_col">
        <img
          [src]="UserData.img"
          onerror="this.src='assets/userDefault_img.png'"
          alt=""
        />
      </div>
      <div class="lists_top_right_col">
        <h1>{{ UserData.name }}'s</h1>
        <h3>Saved playlists</h3>
      </div>
    </div>
    <div class="lists_bottom_row">
      <div class="lists_bottom_left_col">
        <div
          (click)="playlistClick(playlist)"
          *ngFor="let playlist of playlists"
          class="list_box"
          (click)="userPlaylistClick(playlist)"
          [ngClass]="{ active: chosenPlaylist === playlist }"
        >
          <div class="list_img">
            <i class="fa-solid {{ playlist.playlistIcon }}"></i>
          </div>
          <div class="list_info">
            <h4 *ngIf="playlist.playlistName.length > 10">
              {{ playlist.playlistName | slice : 0 : 10 }}...
            </h4>
            <h4 *ngIf="playlist.playlistName.length <= 10">
              {{ playlist.playlistName }}
            </h4>
            <h5>
              <span>{{ playlist.playlistSongs.length }}</span
              >songs
            </h5>
          </div>
        </div>
      </div>
      <div class="lists_bottom_right_col">
        <div class="list_box_bar">
          <h3 *ngIf="chosenPlaylistName">{{ chosenPlaylistName }}'s Songs</h3>
          <i
            *ngIf="chosenPlaylistName && chosenPlaylistName !== 'liked'"
            (click)="deletePlaylistsClick(chosenPlaylistName)"
            class="fa-solid fa-trash-can"
          ></i>
          <div class="delete_playlist_cont" *ngIf="isPlaylistsDeleteClicked">
            <app-playlist-delete
              [playlistname]="chosenPlaylistName"
              [userId]="UserData.id"
              (isDeletingcanceled)="canceledDeletingfromPopup()"
            ></app-playlist-delete>
          </div>
        </div>
        <div class="list_box_content">
          <div class="empty_playlist" *ngIf="chosenPlaylistSongs.length == 0">
            <div>
              <h2>Playlist is empty!</h2>
              <p>Add songs to see content</p>
            </div>
          </div>
          <div
            *ngIf="isLoading && chosenPlaylistSongs.length != 0"
            class="musicCard-loader-cont"
          >
            <ngx-skeleton-loader count="6" appearance="line" />
          </div>
          <div class="music_display" *ngIf="!isLoading">
            <app-music-card
              *ngFor="let song of chosenPlaylistSongs; let i = index"
              [UsersListMusicID]="song"
              [allMusicId]="musicIds"
              [isActive]="savedClickedMusicId === song"
              [index]="i + 1"
            ></app-music-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
