<div class="lists_content">
  <div class="lists_box">
    <div class="lists_top_row">
      <div class="lists_top_left_col">
        <img [src]="UserData.img" alt="" />
      </div>
      <div class="lists_top_right_col">
        <h3>{{ UserData.name }}'s</h3>
        <h1>Saved playlists</h1>
      </div>
    </div>
    <div class="lists_bottom_row">
      <div class="lists_bottom_left_col">
        <div *ngFor="let playlist of playlists" class="list_box">
          <div class="list_img">
            <i class="fa-solid {{ playlist.playlistIcon }}"></i>
          </div>
          <div class="list_info">
            <h4>{{ playlist.playlistName }}'s Songs</h4>
            <h5>
              <span>{{ playlist.playlistSongs.length }}</span
              >songs
            </h5>
          </div>
        </div>
      </div>
      <div class="lists_bottom_right_col">
        <div class="list_box_bar">
          <h3>GYM's Songs</h3>
          <i class="fa-solid fa-trash-can"></i>
        </div>
        <div class="list_box_content">
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
          <app-music-card></app-music-card>
        </div>
      </div>
    </div>
  </div>
</div>
